# files
for_git_commit.ipynb
data/
!data/.gitkeep

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter/Colab
.ipynb_checkpoints/
*.ipynb_save

# Gradio
.gradio/


# Ignore outputs
results/
assets/


# Large ML/data files (optional)
*.pt
*.pth
*.ckpt
*.h5
*.pickle
*.pkl
*.npy
*.npz
*.png
