# files 
for_git_commit.ipynb

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter/Colab
.ipynb_checkpoints/
*.ipynb_save

# Gradio
.gradio/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Virtual environments
venv/
.env/

# Large ML/data files (optional)
*.pt
*.pth
*.ckpt
*.h5
*.pickle
*.pkl
*.npy
*.npz
